<!DOCTYPE html>
{% load staticfiles %}

			<!-- footer start -->
			<footer id="footer" class="light">

				<!-- .footer start -->
				<!-- ================ -->
				<div class="footer">
					<div class="container">
						<div class="row">
							<div class="col-md-7">
								<div class="footer-content">
									<div class="row">
										<div class="col-sm-12">
											<h4>What is Activist Calendar?</h4>
											<p>Lorem ipsum dolor sit amet, consect tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven.</p>
											<ul class="social-links circle">
												<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li class="youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
												<li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
											</ul>
										</div>
									</div>
									<a href="mission_and_vision.html" class="link"><span>Read More</span></a>
								</div>
							</div>

							<div class="col-md-5">
								<div class="footer-content">
									<div class="row">
										<div class="col-sm-12">
											<h4>Upcoming Events</h4>
											<a href="">Name of Event 1 - Group 1 - 01/01/2015</a><br>
											<a href="">Name of Event 2 - Group 2 - 01/01/2015</a><br>
											<a href="">Name of Event 3 - Group 3 - 01/01/2015</a><br>
											<a href="">Name of Event 4 - Group 4 - 01/01/2015</a><br>
											<a href="">Name of Event 5 - Group 5 - 01/01/2015</a><br>									
										</div>
									</div>
								</div>
							</div>

						</div>
						<div class="space-bottom hidden-lg hidden-xs"></div>
					</div>
				</div>
				<!-- .footer end -->

				<!-- .subfooter start -->
				<!-- ================ -->
				<div class="subfooter">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<p>© 2015 ActivistCalendar</p>
							</div>
						</div>
					</div>
				</div>
				<!-- .subfooter end -->

			</footer>
			<!-- footer end -->

		</div>
		<!-- page-wrapper end -->

		<!-- JavaScript files placed at the end of the document so the pages load faster
		================================================== -->

		<!-- Modernizr javascript -->
		<script src="{% static 'js/modernizr.js' %}"></script>

		<!-- jQuery REVOLUTION Slider  -->
		<script src="{% static 'js/jquery.themepunch.tools.min.js' %}"></script>
		<script src="{% static 'js/jquery.themepunch.revolution.min.js' %}"></script>

		<!-- Isotope javascript -->
		<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>

		<!-- Owl carousel javascript -->
		<script src="{% static 'js/owl.carousel.js' %}"></script>

		<!-- Magnific Popup javascript -->
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

		<!-- Appear javascript -->
		<script src="{% static 'js/jquery.appear.js' %}"></script>

		<!-- Count To javascript -->
		<script src="{% static 'js/jquery.countTo.js' %}"></script>

		<!-- Parallax javascript -->
		<script src="{% static 'js/jquery.parallax-1.1.3.js' %}"></script>

		<!-- Contact form -->
		<script src="{% static 'js/jquery.validate.js' %}"></script>

		<!-- Initialization of Plugins -->
		<script src="{% static 'js/template.js' %}"></script>			

    </body>
</html>